Repository proinsias/proinsias.github.io, changes with the labels that .github/labeler.yml gives for each.
All labels: Build ðŸ”¨, Code Quality ðŸ”Ž, Source ðŸ—‚

.github/labeler.yml:

---
# https://github.com/actions/labeler

Build ðŸ”¨:
  - ".travis.yml"
  - "bin/build.sh"
  - "Gemfile"
  - "Gemfile.lock"
  - "_config.yml"

Code Quality ðŸ”Ž:
  - ".mdl.rb"
  - ".mdlrc"
  - ".overcommit.yml"
  - ".varci.yml"

Source ðŸ—‚:
  - "assets/**/*"
  - "index.html"
  - "_data/**/*"
  - "_includes/**/*"
  - "_pages/**/*"
  - "_posts/**/*"

Remove twitter account
  _config.yml
Labels: Build ðŸ”¨

[ImgBot] Optimize images
  assets/images/bio-photo.jpg
  assets/images/two-dfs-side-by-side.jpeg
  assets/images/what-you-should-focus-on-thumbnail.png
  assets/images/what-you-should-focus-on.png
Labels: Source ðŸ—‚

.
  .vscode/.vscode.code-snippets
Labels: none

Add why uv is so fast
  _posts/2026/2026-01-09-how-uv-got-so-fast.md
Labels: Source ðŸ—‚

Working on stoic ic ds post
  .vscode/.vscode.code-snippets
  Gemfile.lock
  _drafts/stoic-ic.md
  _posts/2026/2026-01-09-how-uv-got-so-fast.md
  assets/images/if_you_stop_focusing_on.png
  assets/images/silk-purse.png
  assets/images/stoic-ic-ds-thumbnail.png
  assets/images/stoic-ic-ds.png
  bin/build.sh
  mise.toml
Labels: Build ðŸ”¨, Source ðŸ—‚

Working on stoic ic ds post
  _drafts/productivity/deep-work.md
  _drafts/stoic-ic.md
  _drafts/stoicism/stoic-ic-ds.md
  _drafts/stoicism/stoic_activism_posts.md
  _drafts/stoicism/stoic_ds_posts.md
  _drafts/stoicism/stoic_health_posts.md
  _drafts/tips/dev-box.md
  _posts/2025/2025-12-17-stoicism-and-the-pursuit-of-a-good-life.md
Labels: Source ðŸ—‚

Working on stoic ic ds post
  _drafts/stoicism/stoic-ic-ds.md
  _drafts/stoicism/stoic_ds_posts.md
  _includes/head/custom.html
  assets/images/stoic-ic-ds-thumbnail.png
  assets/images/stoic-ic-ds.png
Labels: Source ðŸ—‚

Add 'Culture turns strategy into action'
  _posts/2026/2026-01-22-culture-turns-strategy-into-action.md
Labels: Source ðŸ—‚

Add 'Using Stoicism to thrive as an IC Data Scientist'
  _drafts/management/ds_manager_posts.md
  _drafts/stoicism/stoic-ic-ds.md
  _drafts/stoicism/stoic_ds_posts.md
  _posts/2023/2023-04-18-personal-disaster-recovery.md
  _posts/2025/2025-12-17-stoicism-and-the-pursuit-of-a-good-life.md
  _posts/2026/2026-01-25-stoic-ic-ds.md
  bin/serve.sh
  bin/update_last_modified.sh
Labels: Source ðŸ—‚

Update update script
  _posts/2026/2026-01-22-culture-turns-strategy-into-action.md
  bin/update_last_modified.sh
Labels: Source ðŸ—‚

.
  _posts/2026/2026-01-25-stoic-ic-ds.md
Labels: Source ðŸ—‚

Tidy up repo
  .cspell.json
  .github/deadpendency.yaml
  .jscpd.json
  .markdown-link-check.json
  .markdownlint.json
  .mdl.rb
  .mdlrc
  .mega-linter.yml
  .pre-commit-config.yaml
  .sourcery.yaml
  .textlintrc.json
  .v8rrc.yml
  _posts/2026/2026-01-22-culture-turns-strategy-into-action.md
  project-words.txt
Labels: Code Quality ðŸ”Ž, Source ðŸ—‚

Tidy up repo
  .gitleaksignore
  .pre-commit-config.yaml
  .prettierrc.json
Labels: none

Add a link
  _drafts/stoicism/stoic_activism_posts.md
Labels: none

Add .secretsignore
  .secretsignore
Labels: none

Update banner image
  assets/images/banner.png
Labels: Source ðŸ—‚

[ImgBot] Optimize images
  assets/images/banner.png
  assets/images/bio-photo.jpg
  assets/images/if_you_stop_focusing_on.png
  assets/images/silk-purse.png
  assets/images/stoic-ic-ds-thumbnail.png
  assets/images/stoic-ic-ds.png
  assets/images/two-dfs-side-by-side.jpeg
  assets/images/what-you-should-focus-on-thumbnail.png
  assets/images/what-you-should-focus-on.png
Labels: Source ðŸ—‚

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Labels: none

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Labels: none

Restrict Claude code review workflow to PRs by proinsias or claude[bot]
  .github/workflows/claude-code-review.yml
Labels: none

Apply yamllint
  .github/mergify.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  .pre-commit-config.yaml
Labels: none

fix: update broken links and exclude asset paths from link checking
  .gitlint
  _config.yml
  _posts/2017/2017-04-05-Mac-Power-shortcuts.md
  _posts/2021/2021-06-03-python-use-underscores-as-visual-separators-for-numbers.md
  _posts/2021/2021-06-14-nix-remove-backspaces-and-tabs-with-col.md
  _posts/2022/2022-11-17-100-years-of-data-visualization-it-s-time-to-stop-making-the-same-mistakes.md
  lychee.toml
Labels: Build ðŸ”¨, Source ðŸ—‚

"Update Claude PR Assistant workflow"
  .github/workflows/claude.yml
Labels: none

"Update Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Labels: none

chore: restrict Claude workflows to proinsias user only
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Labels: none

docs: add project CLAUDE.md for Jekyll site conventions
  CLAUDE.md
Labels: none

feat: add Archie and CI Coach workflows
  .github/workflows/claude-archie.yml
  .github/workflows/claude-ci-coach.yml
Labels: none

chore: simplify allowed-tools in Claude workflows
  .github/workflows/claude-archie.yml
  .github/workflows/claude-ci-coach.yml
Labels: none

feat: add Claude CI Doctor, PR Fix, and Repo Assist workflows
  .github/workflows/claude-ci-coach.yml
  .github/workflows/claude-ci-doctor.yml
  .github/workflows/claude-pr-fix.yml
  .github/workflows/claude-repo-assist.yml
Labels: none

chore: scope workflow triggers to relevant file paths
  .github/workflows/claude-code-review.yml
  .github/workflows/dependency-review.yml
Labels: none

chore: upgrade checkout to v6 and add timeouts/fixes
  .github/workflows/claude-archie.yml
  .github/workflows/claude-ci-coach.yml
  .github/workflows/claude-ci-doctor.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/claude-pr-fix.yml
  .github/workflows/claude-repo-assist.yml
  .github/workflows/claude.yml
Labels: none
