Repository proinsias/proinsias.github.io, changes with the labels that .github/labeler.yml gives for each.
All labels: Build ðŸ”¨, Code Quality ðŸ”Ž, Source ðŸ—‚

.github/labeler.yml:

---
# https://github.com/actions/labeler

Build ðŸ”¨:
  - ".travis.yml"
  - "bin/build.sh"
  - "Gemfile"
  - "Gemfile.lock"
  - "_config.yml"

Code Quality ðŸ”Ž:
  - ".mdl.rb"
  - ".mdlrc"
  - ".overcommit.yml"
  - ".varci.yml"

Source ðŸ—‚:
  - "assets/**/*"
  - "index.html"
  - "_data/**/*"
  - "_includes/**/*"
  - "_pages/**/*"
  - "_posts/**/*"

Run pre-commit hooks again
  .github/mergify.yml
  .github/workflows/dependency-review.yml
  .prettierrc.json
  Gemfile.lock
  _data/ui-text.yml
  assets/images/2702px-TrES-2_b_rv.svg.png
  assets/images/Jkv.TrES-2b.png
  assets/images/android-chrome-192x192.png
  assets/images/android-chrome-384x384.png
  assets/images/apple-touch-icon.png
  assets/images/banner.png
  assets/images/favicon-16x16.png
  assets/images/favicon-32x32.png
  assets/images/google-drive.png
  assets/images/mstile-150x150.png
  assets/images/psstAur.png
  assets/images/psstblend.png
  assets/images/tres2jeffhall.png
  assets/images/tres2lightcurves.png
  assets/images/trinet.png
  devbox.json
  devbox.lock
  techstack.yml
Labels: Build ðŸ”¨, Source ðŸ—‚

.
  .github/workflows/cronjobs.yml
Labels: none

.
  Gemfile.lock
Labels: Build ðŸ”¨

.
  .github/workflows/cronjobs.yml
  .pre-commit-config.yaml
  devbox.json
  devbox.lock
  lychee.toml
Labels: none

.
  lychee.toml
Labels: none

.
  .github/workflows/cronjobs.yml
Labels: none

.
  .github/workflows/cronjobs.yml
Labels: none

.
  .github/workflows/cronjobs.yml
Labels: none

.
  .github/workflows/cronjobs.yml
Labels: none

Update uri gem
  Gemfile
  Gemfile.lock
  devbox.lock
Labels: Build ðŸ”¨

Pin lychee pre-commit hook
  .pre-commit-config.yaml
Labels: none

ci(mergify): upgrade configuration to current format
  .github/mergify.yml
Labels: none

.
  .pre-commit-config.yaml
Labels: none

.
  .pre-commit-config.yaml
  .prettierignore
Labels: none

.
  .pre-commit-config.yaml
  .prettierignore
Labels: none

Fix yamllint issues
  .github/mergify.yml
  _data/ui-text.yml
Labels: Source ðŸ—‚

Add 'Writing Code Was Never The Bottleneck'
  _posts/2016/2016-12-15-Interpretable-Models-in-Machine-Learning.md
  _posts/2018/2018-07-12-Are-categorical-variables-getting-lost-in-your-random-forests.md
  _posts/2020/2020-03-18-Probabilistic_interpretation_of_AUC.md
  _posts/2020/2020-09-11-Data-problems.md
  _posts/2020/2020-09-11-Model_error_quantification.md
  _posts/2021/2021-04-28-the-social-contract-of-open-source.md
  _posts/2025/2025-07-24-writing-code-was-never-the-bottleneck.md
Labels: Source ðŸ—‚

.
  .pre-commit-config.yaml
Labels: none

fix: Gemfile & Gemfile.lock to reduce vulnerabilities
  Gemfile
  Gemfile.lock
Labels: Build ðŸ”¨

Switch to mise
  .envrc
  devbox.json
  devbox.lock
  mise.toml
Labels: none

Add post on 30 learnings from python freelancer
  _posts/2025/2025-12-17-30-learnings-python-freelancer.md
Labels: Source ðŸ—‚

Add stoicism draft
  _drafts/stoicism.md
Labels: none

.
  _drafts/stoicism.md
  assets/images/what-you-should-focus-on-thumbnail.png
  assets/images/what-you-should-focus-on.png
Labels: Source ðŸ—‚

.
  _drafts/stoicism.md
Labels: none

.
  _drafts/stoicism.md
Labels: none

.
  _drafts/stoicism.md
Labels: none

.
  _drafts/stoicism.md
Labels: none

.
  _posts/2025/2025-12-17-stoicism-and-the-pursuit-of-a-good-life.md
Labels: Source ðŸ—‚

.
  _posts/2025/2025-12-17-stoicism-and-the-pursuit-of-a-good-life.md
Labels: Source ðŸ—‚

Fix typoe
  _posts/2025/2025-12-17-stoicism-and-the-pursuit-of-a-good-life.md
Labels: Source ðŸ—‚

.
  _drafts/stoic-ic.md
Labels: none

.
  _drafts/stoic-ic.md
Labels: none

Play with zensical
  .github/workflows/docs.yml
  .python-version
  docs/index.md
  docs/markdown.md
  pyproject.toml
  uv.lock
  zensical.toml
Labels: none

Update bio photo
  assets/images/bio-photo.jpg
Labels: Source ðŸ—‚

Delete old bio photo
  assets/images/bio-photo.jpg
Labels: Source ðŸ—‚

Add new bio photo
  assets/images/bio-photo.jpg
Labels: Source ðŸ—‚

Resize bio photo
  assets/images/bio-photo.jpg
Labels: Source ðŸ—‚

Fix favicon
  assets/images/favicon.ico
Labels: Source ðŸ—‚

Update work location
  _pages/about.md
Labels: Source ðŸ—‚

Update work location
  _config.yml
Labels: Build ðŸ”¨
